<div class="p-5">
  <mat-accordion class="example-headers-align">

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

      <mat-expansion-panel-header>

        <mat-panel-title>
          Dados do Cliente
        </mat-panel-title>
        <mat-panel-description>
          Informações do cliente
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
      <mat-action-row>
        <button  mat-button  class="primary" (click)="nextStep()">Próximo<span class="material-icons ml-2">
          arrow_circle_right
          </span></button>
      </mat-action-row>

    </mat-expansion-panel>

    <br>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Destinatário
        </mat-panel-title>
        <mat-panel-description>
          Informações do Endereço para a entrega
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-action-row>
        <button  mat-button class="warn" (click)="prevStep()"><span class="material-icons mr-2">
          arrow_circle_left
          </span>Voltar</button>
        <button  mat-button class="primary" (click)="nextStep()">Próximo<span class="material-icons ml-2">
          arrow_circle_right
          </span></button>
      </mat-action-row>

    </mat-expansion-panel>

    <br>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informações
        </mat-panel-title>
        <mat-panel-description>
          Informações sobre a entrega
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-action-row>
        <button  mat-button class="warn" (click)="prevStep()"><span class="material-icons mr-2">
          arrow_circle_left
          </span>Voltar</button>
        <button  mat-button class="primary" (click)="nextStep()">Salvar<span class="material-icons ml-2">
          add_circle_outline
          </span></button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>




</div>
