.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #0D2F4B;
}
.sidenav div{
  color: #e2e7e7;

}


.selected {
 background-color: #34718d;
}


.sidenav .mat-toolbar {
  background: fixed;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
