<div class="p-5">
  <mat-accordion class="example-headers-align" hideToggle>
    <mat-expansion-panel [expanded]="step == 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cadastro de Cliente
        </mat-panel-title>
        <mat-panel-description>
          Formulário de Cadastro
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="formCliente">

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" formControlName="email" (keydown.enter)="submitForm()">
        </mat-form-field>

      </form>

      <mat-action-row>
        <button mat-raised-button  *ngIf="formCliente.controls['id'].value" [disabled]="loading"
          class=" warn hover:animate-pulse hover:bg-sky-900 hover:text-white	" (click)="apagarCliente()">
          <span *ngIf="formCliente.controls['id'].value">Deletar</span>
          <span class="material-icons ml-2">
            delete
          </span>
        </button>

        <button mat-raised-button color="basic" *ngIf="formCliente.controls['id'].value" [disabled]="loading"
          class="hover:animate-pulse hover:bg-sky-900 hover:text-white	" (click)="formCliente.reset()">
          <span *ngIf="formCliente.controls['id'].value">Novo</span>
          <span class="material-icons ml-2">
            person_add
          </span>
        </button>

        <button mat-raised-button class="primary" [disabled]="loading"
          class=" primary hover:animate-pulse hover:bg-sky-900 hover:text-white	" (click)="submitForm()">
          <span *ngIf="!formCliente.controls['id'].value">Salvar</span>
          <span *ngIf="formCliente.controls['id'].value">Atualizar</span>
          <span *ngIf="!loading && formCliente.controls['id'].value" class="material-icons ml-2">
            edit
          </span>
          <span *ngIf="!loading && !formCliente.controls['id'].value" class="material-icons ml-2">
            person_add
          </span>
          <span *ngIf="loading" class="material-icons animate-spin">
            sync
          </span></button>

      </mat-action-row>
    </mat-expansion-panel>

    <br>

    <mat-expansion-panel [expanded]="step == 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Catálogo de Clientes
        </mat-panel-title>
        <mat-panel-description>
          Relação de Clientes Cadastrado
          <mat-icon>list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <app-cliente-lista #clientes (clienteEditar)="editarCliente($event)"></app-cliente-lista>

    </mat-expansion-panel>

  </mat-accordion>




</div>